node_modules
app.yaml
npm-debug.log
.idea/
ddl/dump.sql
.git/
logs/
.queues
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
**/webpack-stats.json
service.json
dist
firebasecreds.json
.env
.DS_Store
database.json
